<nav>
    <div class="title">
        <a href="/"><h1>Eli's Blog</h1></a>
        <p>A Handcrafted Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>